version: '3.8'

services:
  postgres-db:
    container_name: demo-db-container
    image: postgres:alpine3.17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: demo
      PGPORT: 5444
    ports:
      - "5444:5444"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - demo-service-net

  api-service:
    container_name: demo-service-container
    image: ahmedbaz/employee-service:latest
    ports:
      - "2222:2222"
    depends_on:
      - postgres-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5444/demo
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    networks:
      - demo-service-net

volumes:
  postgres-data:
networks:
  demo-service-net: